@page "/AddOrg"

@using EMP.Core.UseCases
@using EMP.Core.Entities

@inject NavigationManager NavigationManager

@inject IAddOrgUseCase AddOrgUseCase

@*
@attribute [Authorize(Policy = "EMPUserOrMgrOrAdmin")]
*@

<h3>Add Org</h3>
<br />

<EditForm Model="_Org" OnValidSubmit="SaveOrg">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    @*  ALL Columns
    ENTITY: Org

    @rsObject.Guid
    @rsObject.Orgname
    @rsObject.StId
    *@

    <div class="form-group">
        <label for="Orgname">Orgname</label>
        <InputText id="Orgname"
        @bind-Value="_Org.Orgname"
                   class="form-control">
        </InputText>
    </div>


    <br />
    <button type="submit" class="btn btn-dark">Save</button>
    <button type="button" class="btn btn-dark" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private Org _Org = new Org();

    private async Task SaveOrg()
    {
        await AddOrgUseCase.ExecuteAsync(_Org);
        NavigationManager.NavigateTo("/ListOrg");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/ListOrg");
    }
}