@page "/DeletePlState/{argId:int}"

@using EMP.Core.UseCases
@using EMP.Core.Entities

@inject NavigationManager NavigationManager

@inject IViewPlStateByIdUseCase ViewPlStateByIdUseCase
@inject IDeletePlStateUseCase DeletePlStateUseCase

@*
@attribute [Authorize(Policy = "EMPUserOrMgrOrAdmin")]
*@


<h2>Are you sure you want to Delete the record?</h2>
<br />

<button type="button" class="btn btn-dark" @onclick="Delete">Delete</button>
<button type="button" class="btn btn-dark" @onclick="Cancel">Cancel</button>

@code {

    [Parameter]
    public int argId { get; set; }

    private PlState _PlState = new PlState();

    protected override async Task OnParametersSetAsync()
    {
        this._PlState = await ViewPlStateByIdUseCase.ExecuteAsync(this.argId);
    }

    private async Task Delete()
    {
        await DeletePlStateUseCase.ExecuteAsync(this._PlState);
        NavigationManager.NavigateTo("/ListPlState");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/ListPlState");
    }
}

