@page "/"

<PageTitle>Employee Index</PageTitle>

<h1>Employee Demo Application Running in the Cloud on Microsoft Azure</h1>

Clean Archtecture Stack: ASP.NET Blazor & SQL Server.
<br />
    Security is handled with Microsoft Identity. Enhanced Logging with Serilog
<br />
Other: GitHub Source Control; Database Migrations to SQL Server
<br />
<br />
Tables/Entities: Emp; EmpHist; Org; PLState (PickList for States)
<br />
<br />
<h1>DashBoards</h1>

